.contacts {
  background-color: $bg-color;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: $wrapper-padding;
  }
  &__title {
    font-family: "Inika", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    margin-left: 45px;
    margin-top: 6.7rem;
  }
  &__img {
    margin-top: 6rem;
    width: 40rem;
    height: 49rem;
    background-image: url("../img/contact_woman.png");
  }
  &__dropdown {
    margin-top: 15.5rem;
  }
  &__select {
    @include dropdown-select;
    &:focus,
    &:active {
      transition: all 0.3s ease-out;
      background-color: #c1e698;
    }
  }
}
.dropdown {
  &__wrapper {
    position: relative;
  }
}
.round__select {
  background-color: #aea1a1;
}
