.welcome {
  background-color: $bg-color;
  padding-bottom: 7.4rem;
  padding-top: 4.9rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: $wrapper-padding;
  }
  &__img {
    width: 44rem;
    img {
      width: 100%;
    }
  }
  &__description {
    width: 54.9rem;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__description-title {
    @include main-title;
    color: $cardsubtitle-color;
  }
  &__description-subtitle {
    margin-top: 4.2rem;
    width: 99%;
    @include subtitle;

  }
  &__description-button {
    margin-top: 4.8rem;
    align-self: flex-start;
    text-transform: uppercase;
    color:#000;
    @include btn;
  }
}
