@import "libs/normalize";
@import "base/variables";
@import "base/mixins";

* {
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #000;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

:root {
  font-size: 10px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 144rem;
}
.green {
  color: $main-color;
}
.orangered {
  color: $btn-color;
}
.round {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17px;
  right: 35px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  pointer-events: none;
  &--opened {
    background-color: #aea1a1;
  }
  &__arrow--up {
    transform: rotateX(-180deg);
    path {
      stroke: #fff;
    }
  }
}
.divider {
  width: 16.4rem;
  margin-top: 1.6rem;
  border: 0.5px solid #aea1a1;
}
@import "blocks/header";
@import "blocks/welcome";
@import "blocks/about";
@import "blocks/service";
@import "blocks/prices";
@import "blocks/contacts";
@import "blocks/footer";

@import "base/media";