@media (max-width: 1330.98px) {
  .container {
    width: 768px;
  }
  .header {
    height: 11.7rem;
    &__wrapper {
      padding: 3.5rem 5rem 3.5rem 5rem;
    }
  }
  .welcome {
    padding: 0;
    &__wrapper {
      padding: 4rem 5rem 7rem 5rem;
    }
    &__img {
      width: 28rem;
      order: 2;
    }
    &__description {
      width: 34.6rem;
      margin-top: 0;
      &-button {
        margin-top: 3rem;
      }
      &-title {
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
      }
      &-subtitle {
        margin-top: 3rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
  .about {
    padding: 0;
    &__wrapper {
      flex-direction: column;
      padding: 4rem 5rem 9.5rem 5rem;
    }
    &__description {
      width: 100%;
      margin-top: 0;
      &-title {
        align-self: center;
        text-align: center;
      }
      &-subtitle {
      }
    }
    &__img {
      align-self: center;
      margin-top: 4rem;
      width: 25rem;
    }
  }
  .service {
    padding: 0;
    &__wrapper {
      padding: 4rem 5rem 7rem 5rem;
    }
    &__menu {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }
    &__title {
      font-size: 3.5rem;
      line-height: 46px;
    }
    &__buttons {
      padding: 0;
      margin-top: 4rem;
    }
    &__cards {
      margin-top: 4rem;
      grid-template-rows: repeat(3, 450px);
      grid-template-columns: repeat(2, 281px);
      gap: 106px;
      row-gap: 38px;
    }
    &__card {
      &-description {
        padding: 0 4rem 0 4rem;
        text-align: center;
        line-height: 20px;
      }

      &-img {
        width: 28rem;
        height: 35rem;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .prices {
    padding-bottom: 8.8rem;
    padding-top: 4rem;
    &__wrapper {
      padding: 0 5rem 0 5rem;
      margin-top: 5rem;
    }
    &__heading {
      width: 17.5%;
      font-size: 35px;
      line-height: 42px;
      margin-left: 5rem;
    }
    &__gardeners {
      &-title {
        font-size: 25px;
        line-height: 35px;
        width: 29.6rem;
      }
      &-button {
        margin-top: 22px;
      }
      &-img {
        margin-top: 34px;
      }
    }
  }
  .accordion__wrapper {
    margin-top: 0;
  }

  .contacts {
    background-color: $bg-color;
    padding-top: 4rem;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }
    &__title {
      margin: 0;
      order: 1;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
    }
    &__dropdown {
      margin-top: 10rem;
    }
    &__img {
      margin-top: 25rem;
      width: 20rem;
      height: 24.9rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../img/contact_woman-small.png");
    }
  }
  .footer {
    &__wrapper {
      flex-direction: column;
      height: auto;
      padding: 3.3rem 0 3.3rem 0;
    }
  }
}
// @media (max-width: 1199.98px) { }

@media (max-width: 991.98px) {
}

@media (max-width: 789.98px) {
  .container {
    width: 380px;
  }
  .header {
    &__wrapper {
      height: 9.6rem;
      padding: 3.6rem 2.5rem 3.6rem 2.5rem;
      // padding: 2.4rem 0 0 2.5rem;
    }
    &__nav {
      display: none;
    }
  }

  .welcome {
    &__wrapper {
      padding: 2.4rem 2.5rem 2.4rem 2.5rem;
    }
    &__description {
      &-title {
        font-size: 25px;
        line-height: 35px;
      }
      &-subtitle {
        font-size: 16px;
        line-height: 25px;
      }
      &-button {
        padding: 6px 15px;
        width: 10rem;
        font-size: 1rem;
        line-height: 20px;
      }
    }
    &__img {
      display: none;
    }
  }
  .about {
    &__wrapper {
      padding: 0 2.5rem 3.1rem 2.5rem;
    }
    &__description {
      &-title {
        margin-top: 2rem;
        width: auto;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
      }
      &-subtitle {
        margin-top: 2rem;
        font-size: 15px;
        line-height: 25px;
      }
    }
    &__img {
      margin-top: 0.3rem;
    }
  }
  .service {
    &__wrapper {
      padding: 0 2.5rem 3.1rem 2.5rem;
    }
    &__button {
      width: 121px;
      height: 35px;
      font-size: 15px;
      line-height: 20px;
    }
    &__buttons {
      height: 8rem;
      margin-top: 3.5rem;
      flex-wrap: wrap;
      width: 25.2rem;
    }
    &__card {
      width: 28rem;
      height: 45rem;
    }
    &__cards {
      // padding: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .prices {
    padding-top: 2rem;
    &__heading {
      margin: 0;
      width: auto;
      text-align: center;
    }
    &__wrapper {
      padding: 0;
      flex-direction: column;
      align-items: center;
    }
    &__gardeners {
      align-items: center;
      &-button {
        width: 12.1rem;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        height: 35px;
        // padding: 5px 15px;
      }
      &-title {
        margin-top: 1.9rem;
        width: 23rem;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
      }
      &-img {
        display: none;
      }
    }
  }
  .hamburger {
    visibility: visible;
  }
  .accordion {
    &__wrapper {
      padding: 29px 22px;
      width: 224px;
      height: 235px;
    }
    &__button {
      margin-bottom:13.9px ;
      font-size: 15px;
      line-height: 20px;
      width: 180px;
      height: 49.72px;
    }
  }
  .contacts {
    padding: 0;
    &__wrapper {
      padding: 0;
    }
    &__title {
      margin-top: 2rem;
    }
    &__dropdown {
      width: 30rem;
    }
    &__select {
      width: 100%;
    }
    &__img {
      margin-top: 13.2rem;
      width: 10rem;
      height: 12.5rem;
    }
  }
}

@media (max-width: 575.98px) {
}
